.main {
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;
}
.main__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main__headerH1 {
    margin: 16px 0px;
    font-weight: 700;
}

.main__headerH2 {
    margin: 2px 0px;
    padding: 10px 30px;
}

.main__paragraph {
    background-color: white;
    border-bottom: lightslategrey;
    border-style: 1px solid;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

@media (max-width: 688px) {
    .main__paragraph {
        grid-template-columns: 1fr;
    }
}